VITE_SUPABASE_URL=https://vmadrbcnwsjzpegcfcoi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZtYWRyYmNud3NqenBlZ2NmY29pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2ODI2MzgsImV4cCI6MjA5MTI1ODYzOH0.getUUvxdxmApfoNEapbFO-jfEtNB1EhxUyUDsQKhCMg
